body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

#hn-body {
    background-color: #eff6f6;
}

#hn-header {
    max-height: 16px;
    padding: 4px;
    background-color: green;
}

#hn-header > img {
    vertical-align: top;
}

#hn-title {}

a {
    text-decoration: none;
    color: #000000;
}

ol {
    padding-left: 30px;
    margin-top: 7px;
}

.hn-link-below {
    color: #828282;
    font-size: 7pt;
    margin-bottom: 7px;
}
